
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>My first three.js app</title>
        <style>
            body { margin: 0 auto; }
        </style>
        </head>
        <body>
            <nav id="info">
                <a href="/">Home</a>
                <a href="/demo">Demo</a> 
            </nav>
            <p>This JavaScript code snippet is designed to create a 3D ASCII art effect using the Three.js library
                Usage:
                Load the page in a web browser that supports WebGL.
                You can zoom in and rotate the Object
                Press the keys '1', '2', '3', or '4' to switch between different geometries (cube, torus, prism, torusknot).
                (this is all garbagecode)
                </p>
            <script src="../scripts/asciirender.js"></script>

        </body>
    </html>
