---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Demo</title>
		
        
</head>

<body>
    <nav id="info">
        <a href="/">Home</a>
        <a href="/demo">Demo</a> 
		
    </nav>
    <h1>This website is a massive work in progress but wait</h1>
	<p>nav bar on top contains a demo.</p>
	<p>Quote of the day pulls from an api and does no-cors</p>
	<p>Give me some time and ima have chatgpt rewrite thisbahahhahaha</p>
    <!-- Additional content goes here -->
	<div id="quoteoftheday" style="font-style: italic; text-align: center; margin-top: 20px;"></div>
	<script src="../scripts/quoteoftheday.js"></script>
</body>
</html>
