<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My first three.js app</title>
    <!-- Include Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">

    <nav id="info" class="p-4 w-full">
        <a href="/" class="text-3xl flex justify-center items-center font-medium text-black hover:text-gray-300">Home</a>
    </nav>

   
    <h1 class="text-md flex justify-center items-center font-medium text-black">JavaScript 3D Art Creation Using Three.js</h1>
        
    <p  class="text-md  w-1/2 relative mx-auto flex justify-center items-center font-light text-black">This JavaScript snippet leverages the Three.js library to generate a captivating 3D art effect. Here's how you can interact with it:
        - Desktop Interaction: Click the buttons to change the object. Use the arrow keys for rotation and the '-' and '+' keys to adjust zoom levels.
        - Mobile Interaction: On mobile devices, you can zoom and rotate the object using your fingers for an intuitive experience.
        Enjoy exploring 3D ASCII art in a whole new way!
    </p>



        

    <div id="scene-container" class="w-1/2 relative mx-auto bg-black text-white">

    <script src="scripts/ThreeRender.js"></script>
    </div>

</body>
</html>
